<footer>

   
    
  <div class="row">
<!-- 
    <div class="col-sm-10"></div> -->
  <div class="col-sm-2 remarks">
    <div class="In-Development">
      <div class="color-box1" style="background-color:rgb(51,204,51)"></div>
      <span class="title-name1">In Development</span>

    </div>

    <div class="In-Released">
      <div class="color-box2" style="background-color:rgb(68,114,196)"></div>
      <span class="title-name2">Released</span>

    </div>
    
  </div>
  <div class="col-sm-12 col-xl-12 col-md-12 text">“DCP Blueprints are Capgemini’s point of view on building an optimal solution. They are created from Capgemini’s
      experience across many digital transformation projects that are in production today.”</div>
</div> 
<!-- <div class="row text">
    <div class="col-sm-12 col-xl-12 col-md-12">“DCP Blueprints are Capgemini’s point of view on building an optimal solution. They are created from Capgemini’s
      experience across many digital transformation projects that are in production today.”</div>
  </div>  -->
</footer>