<!--header starts-->


<ul class="mainheader_links" id="navi">
    <a href="https://www.digitalcloudplatform.com/">
        <img class="cloudlogo" src="assets/dcplogo.png">
    </a>
    <h2 class="head">DCP Blueprint Explorer</h2>
    <a href="contact" class="btn btn-primary contactbttn" type="button">CONTACT US</a>
    <li class=" menu" style="font-size:14px;"><a href="about">ABOUT</a></li>
    <li class=" menu" style="font-size:14px;"><a href="technology">TECHNOLOGY</a></li>
    <li class=" menu" style="font-size:14px;"><a href="focus">FOCUS</a></li>
    <li class=" menu active" style="font-size:14px;"><a href="ind-main">INDUSTRY</a></li>
</ul>


<!--header ends-->
<!-- <ul class="" id="navi">
        <a href="https://www.digitalcloudplatform.com/">
            <img class="cloudlogo" src="assets/dcplogo.png">
        </a> -->

